<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
        >

<mapper namespace="com.example.demo.dao.restaurantDao">
    <select id="selectByState" resultType="Restaurant" parameterType="String">
        Select * From restaurant WHERE state=#{state}
    </select>
</mapper>


<!--
SELECT * FROM `411`.restaurant;
delimiter |
CREATE TRIGGER star_check BEFORE UPDATE ON restaurant
       FOR EACH ROW
       BEGIN
           IF NEW.stars < 0 THEN
               SET NEW.stars = 0;
           ELSEIF NEW.stars > 5 THEN
               SET NEW.stars = 5;
           END IF;
       END;
|
delimiter ;
-->